body {
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
}

article {
  padding: 10px;
}

header, section, main {
  min-height: 4em;
  clear: both;
}

h2, h3, h4, h5, h6 {
  font-weight: 100;
}

h1 {
  font-weight: 200;
}

h2 {
  border-bottom: 2px solid rgb(127, 202, 127);
}

.panel h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.loading {
  display: none;
}
