pre {
  font-size: 90%;
  max-height: 40em;
  overflow-y: auto;
}

pre span.operator {
  background-color: transparent !important;
}

pre code {
  text-shadow: none !important;
}

h3 {
  margin-top: 0;
  font-weight: 200;
}