/* TODO: collapse to icon */
pre {
  max-height: 10em;
  min-width: 10em;
  max-width: 30em;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 80%;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
}

pre code {
  white-space: pre;
}

div {
  max-height: 10em;
  overflow: auto;
}

object {
  max-width: 20em;
}