section {
  margin-bottom: 2rem;
}

h2 {
  font-weight: 100;
}

table {
  min-width: 100%;
  width: auto !important;
  max-width: 5000px !important;
}

th {
  padding-right: 10px;
  background: #fff;
}

th, td {
  font-size: 90%;
  padding: 2px 5px;
  vertical-align: top;
  overflow: auto;
}

caption {
  text-align: left;
}

caption div {
  margin-bottom: 10px;
}

caption input {
  max-width: 30em;
}

tbody > tr:nth-of-type(odd) > td {
  background-color: #f9f9f9;
}

tbody > tr:nth-of-type(even) > td {
  background-color: white;
}

tfoot td {
  background-color: white;
}

tfoot td div {
  max-height: 20em;
  overflow: auto;
}

pre {
  border-color: #eee;
  box-shadow: 0 1px 4px -2px #777;
  border-radius: 0;
  padding: 15px;
}

.table-actions th,
.table-actions td {
  white-space: nowrap;
}

.CodeMirror pre {
  box-shadow: none;
}

input[type=file] {
  display: inline-block;
}

.leaf-type-text {
  min-width: 10em;
}

.leaf-type-list,
.leaf-type-counts {
  min-width: 20em;
}

.leaf-type-longtext {
  min-width: 20em;
}

.leaf-title .badge {
  margin-bottom: 0;
}

.summaries .list-group {
  margin: 0;
  min-width: 10em;
}

.list-group-item {
  padding: 5px;
  background: #F3F3F3;
  clear: both;
}

.panel {
  overflow-x: visible;
}

.panel h2,
.panel h3:first-of-type {
  margin-top: 0;
}

.panel h3 {
  font-weight: 200;
}

